/**
 * Your custom less variables
 */

// brand colors
@brand-primary:           #dc0067;
@brand-yellow:            #ffb400;
@brand-blue:              #009ee0;

@brand-font-family: 'swiss911_ucm_btregular';

@navbar-default-bg: #000;
@navbar-default-brand-color: #fff;
@navbar-default-brand-hover-color: #fff;